body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    height: 10vh;
    line-height: 10vh;
    margin-bottom: -2vh;
    overflow: hidden;
}

.search-wrapper {
    position: relative;
    top: -10%;
    margin-left: 5ch;
}

#username {
    width: 18ch;
    font-size: 1.25rem;
}

#logo-container {
    position: relative;
    top: 0%;
}

#progress {
    margin-left: 1ch;
    margin-bottom: -1.5vh;
}

footer {
    height: 3vh;
    padding-left: 3ch;
    padding-top: 0.4vh;
}

.logo {
    position: relative;
    top: 50%;
    transform: translateY(40%);
    height: 5vh;
}

#map {
    height: 87vh;
    width: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
}
